<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- CounterDays = How many days before today ? -->
    <add key="CounterDays" value="0" />

    <!-- SourcePath = Source Path of Action Address -->
    <add key="SourcePath" value="D:\" />

    <!-- ActionType = four action available 
          sf = Size Of Folder
          cp = Copy Files From Source to Destination
          mv = Move Files From Source to Destination         
          rm = Remove Files From Source
          md = Make Directory Form Source to Destination
          rd = Remove Directory From Source    
      -->
    <add key="ActionType" value="sf" />

    <!-- DestinationPath = Destination Path of Action Address -->
    <add key="DestinationPath" value="D:\Des\" />

    <add key="ExcludePaths" value=""/>

    <!-- Auto Prompt 
            0 == false
            1 == true -->
    <add key="AutoPrompt" value="0" />

    <!-- Auto Add Name and Date after destination address 
            0 == false
            1 == true -->
    <add key="AddNameDate" value="0" />

    <!-- Auto Show CounterDays in File Name
            0 == false
            1 == true -->
    <add key="ShowCounterDays" value="0" />

    <!-- Date Format For Folder/File Name -->
    <add key="DateFormat" value="yyyy-MM-dd" />

    <!-- the first part of Backup Name -->
    <add key="PreBackupName" value="SitaBackup_" />

    <!-- Auto Add All Empty Folder Inculded 
            0 == false
            1 == true -->
    <add key="AddAllEmptyFolder" value="0" />

    <!-- Zip the backup
            0 == false
            1 == true -->
    <add key="Zip" value="0" />

    <!-- Test Backup File
            0 == false
            1 == true -->
    <add key="TestZip" value="0" />

    <!-- Include all Files & Folders
            0 == false
            1 == true -->
    <add key="NormalWinAction" value="0" />

    <!-- Inculde Conditions
            0 == false
            1 == true -->
    <add key="IncludeConditions" value="1" />

  </appSettings>

</configuration>